Repository CruGlobal/mobile-content-api, pull requests merged in 2021-01, with the labels that each got.

#554 GT-1005: use google analytics for global activity
  .gitignore
  .travis.yml
  Dockerfile
  Gemfile
  Gemfile.lock
  app/lib/update_global_activity_analytics.rb
  config/initializers/sync_secure_google_creds.rb
  config/secure/.gitkeep
  spec/acceptance/global_activity_analytics_controller_spec.rb
  spec/fixtures/adobe_analytics_stub.json
  spec/fixtures/google_access_token.json
  spec/fixtures/google_analytics_stub.json
  spec/fixtures/service_account_cred.json.travis
  spec/lib/update_global_activity_analytics_spec.rb
  spec/support/test_helpers.rb
Labels: On Staging

#558 remove most aws gems
  Gemfile
  Gemfile.lock
Labels: On Staging

#581 consolidate the button type and element
  public/xmlns/content.xsd
Labels: Content Spec

#582 GT-1054 add an outlined button style to the content spec
  public/xmlns/content.xsd
  public/xmlns/tract.xsd
Labels: Content Spec, On Staging
